/* WeatherComponent.css */
* {
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  }
  
  /* 
  
  ############################
  ############################
  
  
  Add Comments - Lewis
  
  
  ############################
  ############################
  
  */
  
  html, body {
    height: 100%; /* Ensures that the html and body tags take up at least the full height of the viewport */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    overflow-x: hidden;
  }
  
  img, video, canvas, iframe {
    max-width: 100%; /* Ensure media elements are not wider than their containers */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Media Queries for responsive adjustments */
  @media (max-width: 768px) {
    .element-that-might-overflow {
      width: auto; /* Or any other responsive adjustments */
      /* Add any additional styling */
    }
  }
  
  .weather-container {
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url('./clear\ night\ copy.png'); /* background image URL */
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1.25rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .swell-container{
      display: flex;
      flex-direction: column;
        overflow-x: auto;
        background: rgba(255, 255, 255, 0.1); /* Semi-transparent white for the background */
        border-radius: 15px; /* Rounded corners */
        padding: 10px;
        margin: 10px 0; /* Add margin above and below the forecast */
        margin-bottom: 1rem;
    }
    
    .location-heading {
      padding-top: 2.5em;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .hourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); /* Semi-transparent white for the background */
      border-radius: 15px; /* Rounded corners */
      padding: 10px;
      margin-top: 0.8rem; /* Add margin above and below the forecast */
      margin-bottom: 0.8rem;
    }
    
    .hourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); /* Gradient background for each item */
      border-radius: 10px; /* Rounded corners for each item */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */
  
    }
    
    .hourly-time {
      /* Styles for the time label */
      font-size: 0.8em; /* Smaller font size for the time */
    }
    
    .hourly-height {
      /* Styles for the temperature label */
      font-size: 1.2em; /* Larger font size for the temperature */
      font-weight: bold;
    }
  
    .wave-and-height{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
    .wave-icon {
      width: 30px;  /* Size to fit the design */
      height: 30px; /* To maintain the aspect ratio */
      margin-right: 0.1rem; /* Add some space between the icon and the text */
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
  
    .swell-icon{
      width: 4rem;
      height: 5rem;
    }
  
    .swell-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  
    .swell-title{
      margin-top: 2rem;
      font-size: 1.75rem;
    }
    
    .swellHeight{
      font-size: 1.5rem;
      align-self: center;
    }
  
    .navigation-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; /* or any color you want */
      border-radius: 15px ;
      padding-bottom: 0%;
  
    }
    
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .nav-icon {
      width: 25px; /* or any size you want */
      height: 25px; /* or any size you want */
      margin-bottom: 5px;
      margin-top: 5px;
    }
  
    .current-weather-container {
      /* Styles for the current weather container */
      text-align: center; /* Center the content */
    }
    
    .height {
      /* Styles for the current temperature */
      font-size: 3em; /* Large font size for visibility */
      font-weight: bold;
      margin-left: 0.5rem;
    }
    
    .direction-div {
      /* Styles for the high and low temperatures */
      font-size: 1.5em;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    
    .weather-icon {
      /* Adjust the size of the icons if needed */
      width: 30px;
      height: 30px;
      margin-right: 5px; /* Space between icon and text */
    }
    
    
    
  
  