/* marineWeather.css*/


/* Sets full height of the html and body elemntes, removes margin and padding*/
html, body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

/* media elements are not wider than their containers */
img{
  max-width: 100%; 
  height: auto; 
}

/* Media Queries for responsiveness */
/* This media query is used for the mobile styling*/
@media (max-width: 768px) {
  
  /* set width to auto for overflowing elements */
  .element-that-might-overflow {
    width: auto; 
  }

  /* Styling for the main div container when the 'theme' is night */
  /* Styles the background and flex of the main container */
  .marineweather-containerNight{
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url('../clear\ night\ copy.png'); /* background image URL*/
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1.25rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .swell-container{
      display: flex;
      flex-direction: column;
        overflow-x: auto;
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 15px; 
        padding: 10px;
        margin-bottom: 1rem;
    }
    
    /* Styles the padding, text alignment, font family and bottom margin for the location*/
    .marinelocation-heading {
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }

    /* Display the hourly forecast container in flex and allows it to overflow and become scrollable */
    .marinehourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
    }

    /* Display the hourly forecast container for swell in flex and allows it to overflow and become scrollable */
    .marine-swell-hourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
    }
    
    /* Styles the flex, background, padding and margins for the items contained in the hourly wave forecast */
    .marinehourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }
    
    /* Styles the time in the hourly forecasts */
    .marinehourly-time {
      font-size: 0.8em; /* Smaller font size for the time */
    }
    
    /* Styles for the hourly wave height - font size and makes font bold */
    .marinehourly-height {
      font-size: 1.2em; /* Larger font size for the temperature */
      font-weight: bold;
    }

    /* Styling for the top wave image and the current height (top) - edits the flex display */
    .wave-and-height{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    /* Styling for the main wave icon */
    .wave-icon {
      width: 30px;  
      height: 30px; 
      margin-right: 0.1rem; 
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    /* Changes the height and width for the swell icon in the swell section */
    .swell-icon{
      width: 4rem;
      height: 5rem;
    }

    /* Changes the styling to flex for the swell heading and img */
    .swell-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    /* Changes the margin and font size for the title that says 'swell' */
    .swell-title{
      margin-top: 2rem;
      font-size: 1.75rem;
    }
    
    /* Changes the text size and alignement of the current swell height */
    .swellHeight{
      font-size: 1.5rem;
      align-self: center;
    }

    /* Styles the navigation bar at the bottom of the page - changing it to flex */
    .marinenavigation-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }
    
    /* Changes the size and margins for the navigation icons at the bottom */
    .marinenav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    /* Changing the text position to the centre for the container containing current wave conditions and direction */
    .marinecurrent-weather-container {
      text-align: center; 
    }
    
    /* Styling for the current wave height at the location */
    .height {
      font-size: 3em; /* Large font size for visibility */
      font-weight: bold;
      margin-left: 0.5rem;
    }
    
    /* Styling for the wave direction */
    .direction-div {
      font-size: 1.5em;
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }
    
    /* Changes the size of the icons for the hourly forecast */
    .marineweather-icon {
      width: 30px;
      height: 30px;
    }
    
    
    

    /* The following is the same but it uses a different background image - a blue gradient */
  .marineweather-containerDay{

    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../day\ gradient.png'); /* background image URL */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .swell-container{
      display: flex;
      flex-direction: column;
        overflow-x: auto;
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 15px; 
        padding: 10px;
        margin-bottom: 1rem;
    }

    .marinelocation-heading {
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }

    .marinehourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
    }

    .marine-swell-hourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
    }

    .marinehourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }

    .marinehourly-time {
      /* Styles for the time label */
      font-size: 0.8em; /* Smaller font size for the time */
    }

    .marinehourly-height {
      /* Styles for the temperature label */
      font-size: 1.2em; /* Larger font size for the temperature */
      font-weight: bold;
    }

    .wave-and-height{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    .wave-icon {
      width: 30px;  
      height: 30px; 
      margin-right: 0.1rem; 
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    .swell-icon{
      width: 4rem;
      height: 5rem;
    }

    .swell-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    .swell-title{
      margin-top: 2rem;
      font-size: 1.75rem;
    }

    .swellHeight{
      font-size: 1.5rem;
      align-self: center;
    }

    .marinenavigation-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }

    .marinenav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .marinenav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .marinecurrent-weather-container {
      /* Styles for the current weather container */
      text-align: center; /* Center the content */
    }

    .height {
      /* Styles for the current temperature */
      font-size: 3em; /* Large font size for visibility */
      font-weight: bold;
      margin-left: 0.5rem;
    }

    .direction-div {
      /* Styles for the high and low temperatures */
      font-size: 1.5em;
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }

    .marineweather-icon {
      /* Adjust the size of the icons if needed */
      width: 30px;
      height: 30px;
      margin-right: 5px; 
    }
  }


/* The following is the same but with a few changes and is used when the page is responsive for desktop */

@media(min-width: 769px){

  /* Uses a different background as the mobile day container, with a desktop resolution*/

  .marineweather-containerDay{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../day_gradient_desktop.png'); /* background image URL */
    background-size: fill;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  
    .swell-container{
      display: flex;
      flex-direction: column;
        overflow-x: auto;
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 15px; 
        padding: 10px;
        margin-bottom: 1rem;
      margin-left: 15rem;
      margin-right: 15rem;
    }
  
    .marinelocation-heading {
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }

    /* Changes the left and right margin of the hourly forecast container */

    .marinehourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
      margin-left: 15rem;
      margin-right: 15rem;
      justify-content: space-evenly;
    }
  
    .marinehourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }

    .marine-swell-hourly-forecast-container{
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
      justify-content: space-evenly;
    }
  
    .marinehourly-time {
      /* Styles for the time label */
      font-size: 1rem; 
    }
    
    .marinehourly-height {
      /* Styles for the temperature label */
      font-size: 1rem; 
      font-weight: bold;
    }

    .wave-and-height{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    .wave-icon {
      width: 30px;  
      height: 30px; 
      margin-right: 0.1rem; 
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    .swell-icon{
      width: 4rem;
      height: 5rem;
    }

    .swell-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    .swell-title{
      margin-top: 2rem;
      font-size: 2rem;
    }
    
    .swellHeight{
      font-size: 1.5rem;
      align-self: center;
    }

    .marinenavigation-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }
    
    a {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    
    .marinenav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .marinecurrent-weather-container {
      /* Styles for the current weather container */
      text-align: center; 
    }
    
    .height {
      /* Styles for the current temperature */
      font-size: 3em; 
      font-weight: bold;
      margin-left: 0.5rem;
    }
    
    .direction-div {
      /* Styles for the high and low temperatures */
      font-size: 1.5em;
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }
    
    .marineweather-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px; /* Space between icon and text */
    }
  }

  .marineweather-containerNight{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../clear\ night\ copy.png'); /* background image URL */
    background-size: fill;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

    .swell-container{
      display: flex;
      flex-direction: column;
        overflow-x: auto;
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 15px; 
        padding: 10px;
        margin-bottom: 1rem;
      margin-left: 15rem;
      margin-right: 15rem;
    }
  
    .marinelocation-heading {
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }

    .marinehourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
      margin-left: 15rem;
      margin-right: 15rem;
      justify-content: space-evenly;
    }
  
    .marinehourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; 
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }

    .marine-swell-hourly-forecast-container{
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; /* margin above and below the forecast */
      margin-bottom: 1.5rem;
      justify-content: space-evenly;
    }
  
    .marinehourly-time {
      /* Styles for the time label */
      font-size: 1rem; 
    }
    
    .marinehourly-height {
      /* Styles for the temperature label */
      font-size: 1rem;
      font-weight: bold;
    }

    .wave-and-height{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    .wave-icon {
      width: 30px;  
      height: 30px; 
      margin-right: 0.1rem; /* Add some space between the icon and the text */
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    .swell-icon{
      width: 4rem;
      height: 5rem;
    }

    .swell-heading{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    .swell-title{
      margin-top: 2rem;
      font-size: 2rem;
    }
    
    .swellHeight{
      font-size: 1.5rem;
      align-self: center;
    }

    .marinenavigation-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }
    
    a {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    
    .marinenav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .marinecurrent-weather-container {
      /* Styles for the current weather container */
      text-align: center; /* Center the content */
    }
    
    .height {
      /* Styles for the current temperature */
      font-size: 3em; /* Large font size for visibility */
      font-weight: bold;
      margin-left: 0.5rem;
    }
    
    .direction-div {
      /* Styles for the high and low temperatures */
      font-size: 1.5em;
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }
    
    .marineweather-icon {
      /* Adjust the size of the icons if needed */
      width: 30px;
      height: 30px;
      margin-right: 5px; /* Space between icon and text */
    }
  }

}


