/* WeatherApp.css */

* {
  box-sizing: border-box; 
}

/* Sets full height of the html and body elemntes, removes margin and padding*/
html, body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

/*media elements are not wider than their containers */
img{
  max-width: 100%; 
  height: auto; 
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
  
  .element-that-might-overflow {
    width: auto; 
  }

   /* styles for day weather container */  
  .weather-container-day{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../day\ gradient.png'); /* background image URL */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    /* styles for night weather container */
  .weather-container-night{
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url('../clear\ night\ copy.png'); /* background image URL */
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1.25rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    /* styles for location */
    .location-heading {
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }
    
    /* styles for forecast container */
    .hourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; /* Rounded corners */
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
    }
    
    /* styles for hourly forecast boxes */
    .hourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }
    
    /* Styles for the time label */
    .hourly-time {
      font-size: 0.8em; /* Smaller font size for the time */
    }
    
    /* Styles for the temperature label */
    .hourly-temp {
      font-size: 1.2em; 
      font-weight: bold;
    }


    /* styles for icons */
    .weather-icon {
      width: 50px;  
      height: auto; 
      margin-right: 10px; 
    }
  
    /* styles for night nav-bar */
    .navigation-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }
    
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* styles for nav-bar-icons */
    .nav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .current-weather-container {
      /* Styles for the current weather container */
      text-align: center; /* Center the content */
    }
    
    .temperature {
      /* Styles for the current temperature */
      font-size: 3em; 
      font-weight: bold;
      margin-left: 0.5rem;
    }

    .high-low {
      /* Styles for the high and low temperatures */
      font-size: 1em;
    }

    .wind {
      /* Styles for the wind details */
      font-size: 1em;
      display: flex;
      justify-content: center; 
      align-items: center;
      gap: 10px; /* space between the icon and the text */
  
    }

    .wind-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* space between wind speed and directions */
    padding-top: 2rem;
    }
  
    .wind-speed, .wind-directions {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px; /* Padding around the text and icon */
    margin-bottom: 1rem;
  
    }

    .wind-speed span, .wind-directions span {
    white-space: nowrap;
    }

   /* styles for search-bar */
    .searchBar {
    display: flex;
    justify-content: center;
    }

    .searchBar form {
    display: flex;
    width: 100%;
    max-width: 500px; 
    }

    .searchBar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px; /* Rounded left corners */
    font-size: 16px;
    color: #333; 
    }
   
    /* styles for search button */
    .searchBar button {
    padding: 10px 20px;
    border: none;
    background-color: #1E90FF; /* Button color */
    color: white; /* Button text color */
    border-radius: 0 20px 20px 0; /* Rounded right corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .map-container{
      margin-bottom: 1rem;
    }

    .hourly-time {
      /* Styles for the time label */
      font-size: 0.8em; /* Smaller font size for the time */
    }

    .hourly-temp {
      /* Styles for the temperature label */
      font-size: 1.2em; /* Larger font size for the temperature */
      font-weight: bold;
    }

    .current-weather-container {
      /* Styles for the current weather container */
      text-align: center; 
    }

    .temperature {
      /* Styles for the current temperature */
      font-size: 3em; 
      font-weight: bold;
      margin-left: 0.5rem;
    }

    .weather-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px; /* Space between icon and text */
    }
  }


@media(min-width: 769px){

  /* styles for day weather container */ 
  .weather-container-day{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../day_gradient_desktop.png'); /* background image URL */
    background-size: fill;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    /* styles for night weather container */ 
    .weather-container-night{
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url('../clear\ night\ copy.png'); /* background image URL */
      background-size: fill;
      background-position: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1.25rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
  
      /* Styles for location header */
    .location-heading{
      padding-top: 0.25rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-bottom: 0.5rem;
    }
    
    /* Styles for forecast container */
    .hourly-forecast-container {
      display: flex;
      overflow-x: auto;
      background: rgba(255, 255, 255, 0.1); 
      border-radius: 15px; 
      padding: 10px;
      margin-top: 0.8rem; 
      margin-bottom: 1.5rem;
      margin-left: 15rem;
      margin-right: 15rem;
      justify-content: space-evenly;
    }
  
    /* Styles for forecast boxes */
    .hourly-forecast-item {
      flex: 0 0 auto;
      margin-right: 20px;
      padding: 10px 20px; /* Padding inside each forecast item */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
      display: flex;
      flex-direction: column; /* Stack time and temperature vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center; /* Center items vertically */

    }
  
    /* Styles for the time label */
    .hourly-time {
      font-size: 1rem; 
    }
    
     /* Styles for the temperature label */
    .hourly-temp {
      font-size: 1rem; 
      font-weight: bold;
    }
    
    /* Styles for nav-bar */
    .navigation-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      width: 100%;
      background-color: #ffffff31; 
      border-radius: 15px ;
      padding-bottom: 0%;

    }
    
    a {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    
    /* Styles for nav-bar icons */
    .nav-icon {
      width: 25px; 
      height: 25px; 
      margin-bottom: 5px;
      margin-top: 5px;
    }

    /* Styles for the current weather container */
    .current-weather-container {
      text-align: center; /* Centers content */
    }
    
    /* Styles for the current temperature */
    .temperature {
      font-size: 3em; 
      font-weight: bold;
      margin-left: 0.5rem;
    }
    
    /* Styles for icons */
    .weather-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px; /* Space between icon and text */
    }


    /* Styles for the high and low temperatures */
    .high-low {
      font-size: 1em;
    }

    /* Styles for the wind details */
    .wind {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; /* space between the icon and the text */
  
    }

    .wind-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* space between wind speed and directions */
    padding-top: 2rem;
    }
  
    .wind-speed, .wind-directions {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px; 
    padding: 5px 10px; /* Padding around the text and icon */
    margin-bottom: 1rem;
  
    }

    .wind-speed span, .wind-directions span {
    white-space: nowrap;
    }


    .searchBar {
    display: flex;
    justify-content: center;
    }

    .searchBar form {
    display: flex;
    width: 100%;
    max-width: 500px; 
    }

    .searchBar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px; 
    font-size: 16px;
    color: #333; 
    }

    /* styles for search button */
    .searchBar button {
    padding: 10px 20px;
    border: none;
    background-color: #1E90FF; 
    color: white; 
    border-radius: 0 20px 20px 0; 
    font-size: 16px;
    cursor: pointer;
    }

    .map-container{
      margin-left: 15rem;
      margin-right: 15rem;
    }
  

}


